<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin.html}">

<body>
<section class="row" layout:fragment="content">
    <div class="col-6 offset-3 mt-4">
        <form th:action="@{/admin/categories/saveOrUpdate}" method="POST" th:object="${category}">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${category.isEdit} ? 'Edit Category' : 'Add New Category'"></h2>
                </div>
                <div class="card-body">
                    <!-- Category ID -->
                    <div class="mb-3" th:if="${category.isEdit}">
                        <label for="categoryId" class="form-label">Category ID:</label>
                        <input type="hidden" th:field="*{isEdit}">
                        <input type="text" readonly class="form-control"
                               th:field="*{categoryId}" id="categoryId" name="categoryId"
                               placeholder="Category ID">
                        <div th:if="${#fields.hasErrors('categoryId')}" class="form-text text-danger">
                            Category ID is required!
                        </div>
                    </div>

                    <!-- Category Name -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Category Name:</label>
                        <input type="text" class="form-control"
                               th:field="*{name}" id="name" name="name"
                               placeholder="Category Name">
                        <div th:if="${#fields.hasErrors('name')}" class="form-text text-danger">
                            Category Name is required!
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <a th:href="@{/admin/categories}" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
